*
{
  font-family: 'Roboto', sans-serif;
  font-size: 18px;
}

.container
{
  max-width: 1000px;
}

.container .header
{
  margin-top: 70px;
  color: #444c5c;
}

.container .logo a
{
  font-size: 30px;
  font-weight: 700;
  color: #444c5c;
}

.container .logo a:hover
{
  text-decoration: none;
}

.container .button
{
  color: #ffffff;
  border: 0;
  background-color: #444c5c;
  padding: 5px 25px;
}

.container .button:hover
{
  background-color: #e1b16a;
}

.navbar
{
  margin-top: 70px;
  margin-bottom: 0;
  background-color: #ce5a57;
  height: 100px;
  width: 100%;
  display: flex;
  align-items: center;
}

.navbar .container .menuList
{
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: space-between;
}

.navbar .container .menuList .menuItem a
{
  color: #ffffff;
}

.navbar .container .menuList .menuItem a:hover
{
  text-decoration: none;
  font-weight: 700;
}

.content
{
  min-height: 100%;
  padding: 70px 0;
}

.container .h1
{
  margin: 0;
  color: #444c5c;
}
.list
{
  margin: 0;
  padding: 0;
  list-style: none;
}

.list .listItem
{
	margin-top: 30px;
}

.list .listItem a img
{
	width: 50px;
	height: 50px;
}

.table
{
  margin-top: 35px;
}

.table thead tr td
{
  font-weight: 700;
}

.form .form-group .form-control
{
	margin-top: 20px;
	width: 350px;
}

.form .button
{
	margin-top: 10px;
	width: 140px;
	height: 40px;
}

textarea 
{
	resize: none;
}

.single-form:first-child
{
	margin-top: 40px;
}

.single-form
{
	margin-top: 10px;
}

.single-form p
{
	margin: 0;
}

.form .single-form .form-control
{
	margin-top: 10px;
	width: 350px;
}

.header1
{
	margin-top: 40px;
}

#appForm
{
	margin-top: 40px;
}
.fileInput
{
	padding: 20px 0;
}
.pError
{
	margin-top: 15px;
}
.footer
{
  display: flex;
  align-items: center;
  width: 100%;
  height: 200px;
  background-color: #444c5c;
}

.footer .container p
{
  color: #ffffff;
}
