*
{
  font-family: 'Roboto', sans-serif;
  font-size: 18px;
}

.container
{
  margin: 0 auto;
  text-align: center;
}

.header-page
{
  margin-top: 70px;
  color: #444c5c;
}

.form
{
  margin: 35px 0 0 0;
}
.form-group
{
  margin: 15px 0;
}

.form-group input
{
  display: inline-block;
  max-width: 350px;
}

.button
{
  margin-top: 20px;
  width: 100px;
  padding: 10px 5px;
  font-size: 14px;
}

.btn-default:hover
{
  color: #ffffff;
  background-color: #e1b16a;
  border-color: #ffffff;
}

.container .backMain
{
	margin-top: 20px;
}

.container .backMain a 
{
	text-decoration: none;
	color: #444c5c;
}

.container .backMain a:hover
{
	color: #e1b16a;
}

