<?xml version='1.0' encoding='utf-8'?>
<!DOCTYPE hibernate-configuration PUBLIC
        "-//Hibernate/Hibernate Configuration DTD 3.0//EN"
        "http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
	<session-factory>
		<property name="dialect">org.hibernate.dialect.MySQLDialect</property>
		<property name="show_sql">true</property>

		<property name="hibernate.current_session_context_class">thread</property> <!-- te je nowe trzeba otwierac i zamykac transakcje -->

		<property name="hibernate.connection.useUnicode">true</property> 
        <property name="hibernate.connection.characterEncoding">UTF-8</property> 

		<mapping resource="virtualDeanery/model/User.hbm.xml" />
		<mapping resource="virtualDeanery/model/User_Account.hbm.xml" />

		<mapping resource="virtualDeanery/model/User_Finances.hbm.xml" />
		<mapping resource="virtualDeanery/model/Transaction.hbm.xml" />

		<mapping resource="virtualDeanery/model/Message.hbm.xml" />
		<mapping resource="virtualDeanery/model/Msg_recipient.hbm.xml" />
		
		<mapping resource="virtualDeanery/model/Subject.hbm.xml" />
		<mapping resource="virtualDeanery/model/Mark.hbm.xml" />

	</session-factory>

</hibernate-configuration>
